/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
/* End Google fonts */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
.container {
  display: flex;
  background-color: var(--Light-gray);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
main {
  padding: 10px;
  background-color: var(--White);
  display: flex;
  flex-flow: column;
  border-radius: 15px;
  align-items: center;
  width: 275px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.09);
}
main .qr-image {
  width: 250px;
}
main .qr-image img {
  width: 100%;
  border-radius: 15px;
}
.content {
  padding: 15px;
  text-align: center;
}
h2.title {
  color: var(--Dark-blue);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}
p.desc {
  color: var(--Grayish-blue);
  font-size: 15px;
}